body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main{
    padding: 15 px;
    text-align: center;
}

.container {
    background-image: url('../../img/bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    padding: 20px;
    color: white;
    text-align: center;
}

footer {
    background-color: #bec7f1;
    padding: 10px;
    text-align: center;
}